body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }
    header {
        background-color: #B22222;
        color: white;
        text-align: center;
        padding: 1em;
        font-family: 'Lora', serif;
    }
    nav {
        background-color: #34495E;
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-family: 'Roboto', sans-serif;
    }
    nav a {
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    nav a:not(:last-child) {
    border-right: 2px solid white;
    }
    nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    }
    section {
            padding: 20px;
        }
        section p {
            margin-bottom: 20px;
        }
img {
            max-width: 50%;
            height: auto
        }
footer {
            background-color: #8B1A1A;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
            font-family: 'Lora', serif;
    }